.feedmain{
    background-color: hotpink;
    padding: 80px;
    border-radius: 5px;
    text-align: center;
}

.smile{
    color: gold;
    font-size: 100px;
};


.smil{
    border-radius: 50px;
};



